<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{ISO8601} %-5p][%20.20c][%t] %m%n"/>
        </Console>

        <RollingFile name="DailyFileLogger" fileName="./logs/scrutineer.log" filePattern="./logs/scrutineer.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%d{ISO8601} %-5p][%20.20c][%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>


    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DailyFileLogger" />
        </Root>
    </Loggers>
</Configuration>
